body {
    margin: 0;
    padding: 0;
    font-family: arial, verdana, sans-serif;
}

/* banner */

.banner {
    background-image: url('../img/diwanee-desktop.jpg');
    background-position: center;
    background-size: cover;
    height: 512px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.header {
    display: flex;
    justify-content: space-between;
    width: 64%;
}

.diwanee-logo {
    display: flex;
    justify-content: flex-start;
}

.diwanee-logo img {
    width: 150px;
    height: 40px;
}

.informations {
    display: flex;
    justify-content: flex-end;
}

.bars {
    display: none;
}

.dropbtn {
    color: black;
    padding: 16px;
    font-size: 16px;
    cursor: pointer;
}

.dropbtn:active {
    -ms-transform: scale(1.2, 1.2);
    -webkit-transform: scale(1.2, 1.2);
    transform: scale(1.2, 1.2);
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: black;
    height: 383px;
    left: 0;
    right: 0;
    z-index: 1;
    opacity: 0.9;
}

.dropdown-content a {
    color: #555;
    padding: 25px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    color: white;
    font-size: 20px;
    font-weight: 700;
    -webkit-transition: color 1s;
    transition: color 1s;
}

.dropdown-content li {
    display: block;
    text-align: center;
}

.show {
    display: block;
}

.dropdown-links {
    padding-top: 65px;
    padding-bottom: 40px;
}

.nav-footer {
    display: flex;
    justify-content: space-around;
    color: #555;
}

.nav-footer-icons .fa-twitter {
    padding-right: 30px;
}

.main-title {
    text-align: center;
    padding-bottom: 60px;
}

.main-title h1 {
    font-size: 63px;
}

hr {
    width: 50px;
}

.shorter-title {
    display: none;
}

.main-title p {
    font-size: 23px;
    width: 48%;
    margin: 35px auto;
}

li {
    padding: 0 16px;
    display: inline-block;  
}

li  a {
    position: relative;
    color: #000;
    text-decoration: none;
}

li a:hover {
    color: #000;
}

li a:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #000;
    visibility: hidden;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s;
}

li a:hover:before {
    visibility: visible;
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
}

/* boxes */

.content-boxes {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.shape {
    text-align: center;
    width: 33.33%;
    background: rgb(247,247,247);
    line-height: 150%;
    padding-top: 60px;
    padding-bottom: 30px; 
}

.shape:nth-child(2) {
    background: rgb(220,220,220);
}

.shape h2 {
    font-size: 17px;
    margin-top: 20px;
    margin-bottom: 35px;
}

.shape p {
    font-size: 17px;
    color: #999;
    margin-top: 35px;
    padding: 0 20px;
}

/* main content */

.main-content {
    margin: 130px auto 45px auto;
}

.job,
.title,
.content-job {
    display: flex;
    justify-content: center;
}

.job h4 {
    color: #bbb;
}

.title {
    margin-top: -30px;
}

.title h1 {
    font-size: 50px;
}

.content-job {
    margin-top: 20px;
    text-align: center;
}

.content-job p {
    font-size: 24px;
    color: #555;
    width: 60%;
}

/* skills */

.knowledge-list {
    display: flex;
    justify-content: space-between;
    padding: 0 10%;
}

.job-position {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 90px;
    margin-top: 90px;
}

.position-title,
.position-skills,
.skill-buttons {
    display: flex;
    justify-content: flex-start;
}

.position-skills p {
    line-height: 150%;
    color: #555;
    font-size: 20px;
    width: 69%;
}

.inner-button,
.inner-button-black {
    border: 1px solid gray;
    padding: 8px 18px;
    margin-top: 15px;
    margin-right: 10px;
    cursor: pointer;
    color: rgb(210,0,50);
    text-align: center;
    font-size: 15px;
    width: 70px;
}

.more-positions-button:hover,
.check-in-button-black:hover,
.inner-button-black:hover,
.check-in-button:hover,
.inner-button:hover {
    background: black;
    color: white;
    -webkit-transition: background 0.8s, color 0.8s;
    transition: background 0.8s, color 0.8s;
}

.check-in {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.check-in-button,
.check-in-button-black {
    border: 2px solid black;
    padding: 8px 28px;
    cursor: pointer;
    width: 86px;
}

.knowledge-list:nth-child(2) {
    background: #111;
    color: #bbb;
}

.inner-button-black {
    color: #bbb;
}

.check-in-button-black:hover,
.inner-button-black:hover {
    background: white;
    color: black;
}

.check-in-button-black {
    color: #aaa;
    border: 2px solid #bbb;
}

/* more position title*/

.more-positions-title {
    display: flex;
    justify-content: center;
}

.more-positions-button {
    margin-top: 50px;
    padding: 10px 10px;
    color: #555;
    background: rgb(220,220,220);
    cursor: pointer;
}

.more-positions-button:hover {
    background-color: #80808063;
    color: white;
}

/* company content */

.company-content {
    background: rgb(247,247,247);
    margin-top: 140px;
    padding-bottom: 50px; 
}

.title-city,
.title-company {
    display: flex;
    justify-content: center;
}

.title-city h4 {
    color: #888;
    margin-top: 80px;
}

.title-company h1 {
    text-align: center;
    font-size: 50px;
    margin-bottom: 50px;
    font-weight: 300;
}

.content-company-details p {
    font-size: 24px;
    text-align: left;
    color: #555;
    margin-top: 50px;
    line-height: 150%;
    padding: 0 10%;
}

/* title */

.title-follow {
    display: flex;
    justify-content: center;
}

.title-follow h4 {
    margin-top: 125px;
    color: #bbb;
    font-size: 18px;
}

/* social networks */

.social-networks {
    display: flex;
    justify-content: center;
}

.twitter,
.facebook {
    width: 65px;
    height: 65px;
    text-align: center;
    background: #00aced;
    cursor: pointer;
    -webkit-transition: width 1s, height 1s, -webkit-transform 1s;
    transition: width 1s, height 1s, transform 1s;
}

.twitter:hover,
.facebook:hover {
    -webkit-transform: rotateY(360deg);
    transform: rotateY(360deg);
}

.twitter .fa-twitter,
.facebook .fa-facebook {
    font-size: 32px;
    color: white;
    margin-top: 16px;
}

.twitter {
    margin-right: 15px;
}

.facebook {
    background: #3b5998;
    margin-left: 15px;
}

.facebook .fa-facebook {
    margin-top: 18px;
}

/* footer */

.footer {
    background: #111;
    color: #bbb;
    margin-top: 125px;
    padding-top: 100px;
}

.locations {
    display: flex;
    flex-wrap: wrap;
    padding-left: 10%;
    color: #555;
    line-height: 150%;
}

.city {
    width: 33.33%;
}

.city-name {
    color: gray;
    font-weight: 700;
    font-size: 17px;
}

.fa-map-marker {
    padding-right: 20px;
    color: rgb(210,0,50);
    font-size: 28px;
}

.footer-wrapper {
    background: black;
    margin-top: 35px;
}

.footer-informations {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0 17% 0 10%;
}

.footer-copyright {
    padding-top: 18px;
    padding-bottom: 18px;
    color: #555;
}

.icons {
    color: #555;
    display: flex;
    padding-top: 15px;
    padding-bottom: 10px;
}

.fa-linkedin {
    font-size: 21px;
    font-weight: 600;
}

.fa-twitter {
    font-size: 21px;
    padding-right: 20px;
    padding-left: 18px;
}

.site {
    padding-top: 3px;
    font-size: 16px;
}

/* media query */

@media only screen and (min-width: 768px) and (max-width: 992px) {

    .header {
        width: 100%;
        margin-top: 20px;
    }

    .informations {
       display: none;
    }

    .bars {
        display: inline-block; 
    }

    .fa-bars {
        margin-bottom: 15px;
        font-size: 30px;
        cursor: pointer;
    }

    .main-title h1 {
        font-size: 55px;
    }

    .main-title p {
        width: 58%;
    }

    hr {
        width: 35px;
    }

    .content-job p {
        width: 76%;
    }

    .position-title h2 {
        font-size: 21px;
    }

    .position-skills p {
        font-size: 17px;
        width: 86%;
    }

    .inner-button,
    .inner-button-black {
        padding: 6px 15px;
        font-size: 13px;
        width: 60px;
    }

    .check-in-button,
    .check-in-button-black {
        padding: 8px 22px;
        font-size: 13px;
        width: 70px;
    }

    .title-company h1 {
        font-size: 35px;
    }

    .locations {
        padding-left: 7%;
    }

    .city-name {
        font-size: 15px;
    }

    .city p,
    .footer-copyright,
    .site {
        font-size: 14px;
    }

    .fa-map-marker {
        font-size: 20px;
    }

    .footer-informations {
        padding: 0 12% 0 7%;
    }

    .icons {
        padding-top: 17px;
    }

    .icons .fa-linkedin {
        font-size: 17px;
    }

    .icons .fa-twitter {
        font-size: 17px;
        padding-right: 10px;
        padding-left: 20px;
    }
}

@media only screen and (min-width: 577px) and (max-width: 767px) {

    .header {
        width: 100%;
        margin-top: -75px;
    }

    .informations,
    .main-title p,
    hr,
    .check-in-button,
    .check-in-button-black {
       display: none;
    }

    .bars {
        display: inline-block; 
    }

    .fa-bars {
        margin-bottom: 28px;
        font-size: 30px;
        cursor: pointer;
    }

    .dropdown-content {
        height: 371px;
    }

    .main-title {
        padding-bottom: 80px;
    }

    .main-title h1 {
        font-size: 55px;
    }

    .shorter-title {
        display: inline;
        font-weight: 500;
        font-size: 24px;
    }

    .shape img {
        width: 50px;
    }

    .shape h2,
    .shape p,
    .title-city h4,
    .city-name {
        font-size: 15px;
    }

    .content-job p {
        width: 72%;
    }

    .position-skills p {
        width: 98%;
    }

    .knowledge-list {
        background: rgb(247,247,247);
    }

    .knowledge-list:nth-child(2) {
        background: white;
        color: black;
    }

    .inner-button-black {
        color: red;
    }

    .inner-button-black:hover {
        background: #80808063;
        color: black;
    }

    .title-company h1 {
        font-size: 35px;
        width: 50%;
    }

    .more-positions-button,
    .company-content {
        margin-top: 100px;
    }

    .content-company-details p {
        font-size: 17px;
        line-height: 140%;
    }

    p {
        font-size: 15px;
        padding-right: 3px; 
    }

    .footer-copyright {
        font-size: 14px;
        padding-bottom: 0px;
    }
}

@media only screen and (min-width: 480px) and (max-width: 576px) {

    .header {
        width: 100%;
        margin-top: -55px;
    }

    .informations,
    .main-title p,
    hr,
    .check-in-button,
    .check-in-button-black {
       display: none;
    }

    .bars {
        display: inline-block; 
    }

    .fa-bars {
        margin-bottom: 28px;
        font-size: 30px;
        cursor: pointer;
    }

    .dropdown-content {
        height: 371px;
    }

    .main-title {
        padding-bottom: 80px;
        margin-top: 20px;
    }

    .main-title h1 {
        font-size: 55px;
    }

    .shorter-title {
        display: inline;
        font-weight: 500;
        font-size: 24px;
    }

    .shape,
    .position-skills p {
        width: 100%;
    }

    .knowledge-list {
        background: rgb(247,247,247);
    }

    .knowledge-list:nth-child(2) {
        background: white;
        color: black;
    }

    .skill-buttons {
        flex-wrap: wrap;
    }

    .content-job p {
        width: 72%;
    }

    .inner-button-black {
        color: rgb(210,0,50);
    }

    .inner-button-black:hover {
        background: #80808063;
        color: black;
    }

    .footer {
        padding-top: 30px;
    }

    .title-city h4 {
        font-size: 15px;
    }

    .title-company h1 {
        font-size: 35px;
        width: 50%;
    }

    .more-positions-button,
    .company-content {
        margin-top: 100px;
    }

    .content-company-details p {
        font-size: 17px;
        line-height: 140%;
    }

    .city {
        width: 100%;
        margin-top: 30px;
    }

    .city-name {
        font-size: 22px;
    }

    .city p {
        font-size: 20px;
    }

    .footer-copyright {
        font-size: 14px;
        padding-bottom: 0px;
    }

    .icons .fa-linkedin {
        font-size: 18px;
    }

    .icons .fa-twitter {
        font-size: 19px;
    }
}

@media only screen and (max-width: 479px) {

    .header {
        width: 100%;
        margin-top: -55px;
    }

    .informations,
    .main-title p,
    hr,
    .check-in-button,
    .check-in-button-black {
        display: none;
    }

    .bars {
        display: inline-block; 
    }

    .fa-bars {
        margin-bottom: 28px;
        font-size: 30px;
        cursor: pointer;
    }

    .dropdown-content {
        height: 403px;
    }

    .main-title {
        padding-bottom: 80px;
        margin-top: 20px;
    }

    .main-title h1 {
        font-size: 55px;
    }

    .shorter-title {
        display: inline;
        font-weight: 500;
        font-size: 24px;
    }

    .position-title h2 {
        font-size: 21px;
    }

    .shape,
    .position-skills p {
        width: 100%;
        font-size: 18px;
    }

    .knowledge-list {
        background: rgb(247,247,247);
    }

    .knowledge-list:nth-child(2) {
        background: white;
        color: black;
    }

    .skill-buttons {
        flex-wrap: wrap;
    }

    .job h4,
    .title-city h4 {
        font-size: 13px;
    }

    .title h1 {
        font-size: 46px;
    }

    .content-job p {
        width: 72%;
        font-size: 20px;
        margin-bottom: 40px;
        margin-top: -20px;
    }
    
    .inner-button,
    .inner-button-black {
        font-size: 13px;
        width: 60px;
        padding: 5px 15px;
    }

    .inner-button-black {
        color: rgb(210,0,50);
    }

    .inner-button-black:hover {
        background: #80808063;
        color: black;
    }

    .footer {
        padding-top: 30px;
    }

    .title-company h1 {
        font-size: 33px;
        width: 80%;
    }

    .more-positions-button,
    .company-content {
        margin-top: 100px;
        font-size: 12px;
        padding: 8px 8px;
    }

    .content-company-details p {
        font-size: 17px;
        line-height: 140%;
        margin-top: 30px;
    }

    .social-networks .twitter,
    .social-networks .facebook {
        width: 50px;
        height: 50px;
    }

    .twitter .fa-twitter {
        padding-left: 14px;
    }

    .twitter .fa-twitter,
    .facebook .fa-facebook {
        font-size: 25px;
        margin-top: 12px;
    }

    .city {
        width: 100%;
    }

    .footer-copyright {
        font-size: 12px;
    }

    .title-follow h4,
    .icons .fa-linkedin,
    .icons .fa-twitter {
        font-size: 16px;
    }

    .site {
        font-size: 15px;
    }
}
