body {
	margin: 0;
	padding: 0;
	font-family: arial, verdana, sans-serif;
}

/* banner */

.banner {
    background: url('../img/diwanee-desktop.jpg') center no-repeat;
    height: 512px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.header {
    display: flex;
    justify-content: space-between;
    width: 58%;
    margin-bottom: 50px;
}

.diwanee-logo {
    display: flex;
    justify-content: flex-start;
}

.diwanee-logo img {
    width: 150px;
    height: 40px;
}

.informations {
    display: flex;
    justify-content: flex-end;
}

.bars {
    display: none;
}

.main-title {
	text-align: center;
    padding-bottom: 60px;
}

.main-title h1 {
    font-size: 63px;
}

hr {
    width: 50px;
}

.shorter-title {
    display: none;
}

.main-title p {
    font-size: 23px;
    width: 48%;
    margin: 35px auto;
}

li {
    padding: 0 16px;
    display: inline-block;  
}

li a {
    color: black;
    text-decoration: none;
}

/* boxes */

.content-boxes {
    max-width: 1440px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.shape {
    text-align: center;
    width: 33.33%;
    background: rgb(247,247,247);
    line-height: 150%;
    padding-top: 60px;
    padding-bottom: 30px; 
}

.shape:nth-child(2) {
	background: rgb(220,220,220);
}

.shape h2 {
	font-size: 17px;
	margin-top: 20px;
	margin-bottom: 35px;
}

.shape p {
	font-size: 17px;
	color: #999;
	margin-top: 35px;
	padding: 0 20px;
}

/* main content */

.main-content {
    max-width: 1440px;
    margin: 130px auto 45px auto;
}

.job {
    display: flex;
    justify-content: center;
}

.job h4 {
	color: #bbb;
}

.title {
	display: flex;
    justify-content: center;
    margin-top: -30px;
}

.title h1 {
	font-size: 50px;
}

.content-job {
	display: flex;
    justify-content: center;
    margin-top: 20px;
    text-align: center;
}

.content-job p {
    font-size: 24px;
	color: #555;
	width: 50%;
}

/* skills */

.skills {
    max-width: 1440px;
    width: 100%;
    margin: 0 auto;
}

.knowledge-list {
    display: flex;
    justify-content: space-between;
    padding: 0 15%;
}

.job-position {
	display: flex;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 90px;
    margin-top: 90px;
}

.position-title {
	display: flex;
    justify-content: flex-start;
}

.position-skills {
    display: flex;
	justify-content: flex-start;
}

.position-skills p {
    line-height: 150%;
	color: #555;
	font-size: 20px;
    width: 69%;
}

.skill-buttons {
    display: flex;
    justify-content: flex-start;
}

.inner-button {
    border: 1px solid gray;
    padding: 8px 18px;
    margin-top: 15px;
    margin-right: 10px;
    cursor: pointer;
    color: rgb(210,0,50);
    text-align: center;
    font-size: 15px;
    width: 70px;
}

.inner-button:hover {
    background: #80808063;
    color: black;
}

.check-in {
	display: flex;
	justify-content: flex-end;
	align-items: center;
}

.check-in-button {
    border: 2px solid black;
    padding: 8px 28px;
    cursor: pointer;
    width: 86px;
}

.check-in-button:hover {
    background: #80808063;
    color: rgb(210,0,50);
}

.knowledge-list:nth-child(2) {
    background: #111;
    color: #bbb;
}

.inner-button-gray {
    border: 1px solid gray;
    padding: 8px 18px;
    margin-top: 15px;
    margin-right: 10px;
    cursor: pointer;
    color: #bbb;
    text-align: center;
    font-size: 15px;
    width: 70px;
}

.inner-button-gray:hover {
    background: white;
    color: black;
}

.check-in-button-gray {
	border: 2px solid #bbb;
    padding: 8px 28px;
    cursor: pointer;
    color: #aaa;
    width: 86px;
}

.check-in-button-gray:hover {
    background: #80808063;
    color: rgb(210,0,50);
}

/* more position title*/

.more-positions-title {
    max-width: 1440px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
}

.more-positions-button {
	margin-top: 50px;
    text-align: center;
	border: none;
	padding: 10px 10px;
    color: #555;
    background: rgb(220,220,220);
    cursor: pointer;
}

.more-positions-button:hover {
    background-color: #80808063;
    color: white;
}

/* company content */

.company-content {
    max-width: 1440px;
    width: 100%;
    margin: 0 auto;
    background: rgb(247,247,247);
    margin-top: 140px;
    padding-bottom: 50px; 
}

.title-city {
    display: flex;
    justify-content: center;
}

.title-city h4 {
	color: #888;
    margin-top: 80px;
}

.title-company {
    display: flex;
    justify-content: center;
}

.title-company h1 {
	text-align: center;
	font-size: 50px;
	margin-bottom: 50px;
	font-weight: 300;
}

.content-company-details {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.content-company-details p {
    font-size: 24px;
	text-align: left;
	color: #555;
	margin-top: 50px;
	line-height: 150%;
	padding: 0 15%;
}

/* title */

.title-follow {
	max-width: 1440px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
}

.title-follow h4 {
	margin-top: 125px;
    color: #bbb;
    font-size: 18px;
}

/* social networks */

.social-networks {
	max-width: 1440px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
}

.twitter {
    margin-right: 30px;
    width: 65px;
    height: 65px;
    text-align: center;
    background: #00aced;
    cursor: pointer;
}

.twitter .fa-twitter {
    font-size: 32px;
    color: white;
    margin-top: 16px;
}

.facebook {
    width: 65px;
    height: 65px;
    text-align: center;
    background: #3b5998;
    cursor: pointer;
}

.facebook .fa-facebook {
    color: white;
    margin-top: 18px;
    font-size: 32px;
}

/* footer */

.footer {
	max-width: 1440px;
    width: 100%;
    margin: 0 auto;
    background: #111;
    color: #bbb;
    margin-top: 125px;
    padding-top: 100px;
}

.locations {
    display: flex;
    flex-wrap: wrap;
    padding-left: 15%;
    color: #555;
    line-height: 150%;
}

.city {
    width: 33.33%;
}

.city-name {
    color: gray;
    font-weight: 700;
    font-size: 17px;
}

.fa-map-marker {
    padding-right: 20px;
    color: rgb(210,0,50);
    font-size: 28px;
}

.footer-wrapper {
    background: black;
    margin-top: 35px;
}

.footer-informations {
    max-width: 1440px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 70%;
}

.footer-copyright {
    padding-top: 18px;
    display: flex;
    justify-content: flex-start;
    padding-bottom: 18px;
    color: #555;
}

.icons {
    color: #555;
    display: flex;
    justify-content: flex-end;
    padding-top: 15px;
    padding-bottom: 10px;
}

.fa-linkedin {
    font-size: 21px;
    font-weight: 600;
}

.fa-twitter {
    font-size: 21px;
    padding-right: 20px;
    padding-left: 18px;
}

.site {
    padding-top: 3px;
    font-size: 16px;
}

/* media query */

@media only screen and (min-width: 768px) and (max-width: 992px) {

    .header {
        width: 90%;
    }

    .informations {
       display: none;
    }

    .bars {
        display: inline-block; 
    }

    .fa-bars {
        margin-bottom: 15px;
        font-size: 30px;
        cursor: pointer;
    }

    .main-title h1 {
        font-size: 55px;
    }

    hr {
        width: 35px;
    }

    .position-title h2 {
        font-size: 21px;
    }

    .position-skills p {
        font-size: 17px;
        width: 86%;
    }

    .inner-button {
        padding: 6px 15px;
        font-size: 13px;
        width: 60px;
    }

    .check-in-button {
        padding: 8px 22px;
        font-size: 13px;
        width: 70px;
    }

    .inner-button-gray {
        padding: 6px 15px;
        font-size: 13px;
        width: 60px;
    }

    .check-in-button-gray {
        padding: 8px 22px;
        font-size: 13px;
        width: 70px;
    }

    .title-company h1 {
        font-size: 35px;
    }

    .locations {
        padding-left: 7%;
    }

    .city-name {
        font-size: 15px;
    }

    .city p {
        font-size: 14px;
    }

    .fa-map-marker {
        font-size: 20px;
    }

    .footer-informations {
        width: 86%;
    }

    .footer-copyright {
        font-size: 13px;
    }

    .fa-linkedin {
        font-size: 15px;
    }

    .fa-twitter {
        font-size: 15px;
        padding-right: 10px;
        padding-left: 20px;
    }

    .site {
        font-size: 13px;
    }
}

@media only screen and (min-width: 591px) and (max-width: 767px) {

    .header {
        width: 90%;
    }

    .informations {
       display: none;
    }

    .bars {
        display: inline-block; 
    }

    .fa-bars {
        margin-bottom: 28px;
        font-size: 30px;
        cursor: pointer;
    }

    .main-title {
        padding-bottom: 80px;
    }

    .main-title h1 {
        font-size: 55px;
    }

    .main-title p {
        display: none;
    }

    .shorter-title {
        display: inline;
        font-weight: 500;
        font-size: 24px;
    }

    hr {
        display: none;
    }

    .shape img {
        width: 50px;
    }

    .shape h2 {
        font-size: 15px;
    }

    .shape p {
        font-size: 15px;
    }

    .content-job p {
        width: 72%;
    }

    .position-skills p {
        width: 98%;
    }

    .knowledge-list {
        background: rgb(247,247,247);
    }

    .knowledge-list:nth-child(2) {
        background: white;
        color: black;
    }

    .check-in-button {
        display: none;
    }

    .inner-button {
        padding: 6px 15px;
        font-size: 13px;
        width: 60px;
    }

    .inner-button-gray {
        color: red;
        padding: 6px 15px;
        font-size: 13px;
        width: 60px;
    }

    .inner-button-gray:hover {
        background: #80808063;
        color: black;
    }

    .check-in-button-gray {
        display: none;
    }

    .title-city h4 {
        font-size: 15px;
    }

    .title-company h1 {
        font-size: 35px;
        width: 50%;
    }

    .more-positions-button {
        margin-top: 100px;
    }

    .company-content {
        margin-top: 100px;
    }

    .content-company-details p {
        font-size: 17px;
        line-height: 140%;
        width: 90%;
    }
}

@media only screen and (min-width: 566px) and (max-width: 590px) {

    .header {
        width: 90%;
    }

    .informations {
       display: none;
    }

    .bars {
        display: inline-block; 
    }

    .fa-bars {
        margin-bottom: 28px;
        font-size: 30px;
        cursor: pointer;
    }

    .main-title {
        padding-bottom: 80px;
    }

    .main-title h1 {
        font-size: 55px;
    }

    .main-title p {
        display: none;
    }

    .shorter-title {
        display: inline;
        font-weight: 500;
        font-size: 24px;
    }

    hr {
        display: none;
    }

    .shape {
        width: 100%;
    }

    .knowledge-list {
        background: rgb(247,247,247);
    }

    .knowledge-list:nth-child(2) {
        background: white;
    }

    .content-job p {
        width: 72%;
    }

    .check-in-button {
        display: none;
    }

    .inner-button {
        padding: 6px 15px;
        font-size: 13px;
        width: 60px;
    }

    .inner-button-gray {
        color: red;
        padding: 6px 15px;
        font-size: 13px;
        width: 60px;
    }

    .inner-button-gray:hover {
        background: #80808063;
        color: black;
    }

    .check-in-button-gray {
        display: none;
    }

    .title-city h4 {
        font-size: 15px;
    }

    .title-company h1 {
        font-size: 35px;
        width: 50%;
    }

    .more-positions-button {
        margin-top: 100px;
    }

    .company-content {
        margin-top: 100px;
    }

    .content-company-details p {
        font-size: 17px;
        line-height: 140%;
        width: 90%;
    }

    .city {
        width: 100%;
        margin-top: 25px;
    }

    .city-name {
        font-size: 19px;
    }

    .city p {
        font-size: 17px;
    }
}
